
name: 'GitHub Actions cnr m3u8 Bot'
 
on:
  push:
  schedule:
    - cron: '0 0 * * *'
jobs:
  build-m3u8:
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout codes'
      uses: actions/checkout@v1

    - name: 'generate m3u8 file'
      run: php ./main.php
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@releases/v4
      with:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        BRANCH: gh-pages
        FOLDER: ./
        
